/* Design Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* left: 0; */
  width: 200px;
  height: 100%;
  background-color: #004000;
  padding-top: 20px;
}

/* Remove bullet points */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

/* Add space between links */
.sidebar li {
  margin: 20px 0;
}

/* Link Text design*/
.sidebar a {
  colour: white;
  text-decoration: none; /* no underline */
  font-weight: bold;
}

/* add underline when hovering over link with mouse */
.sidebar a:hover {
  text-decoration: underline;
}

